#main-cont > div:nth-child(1) > img {
  width: 100%;
}
/* Style for sliding images */
.slide-box {
  width: 100%;
  height: auto;
  /* border: 1px solid black; */
  overflow: hidden;
}
.slide-img {
  width: 100%;
  display: inline-flex;
  transition: 0.7s;
}
.slide-img > img {
  width: 100%;
}
/* Style for rounded buttons for image change */
.slide-indicator {
  position: absolute;
  left: 50%;
  margin-top: -30px;
  transform: translateX(-50%);
}
.slide-indicator > span {
  display: inline-block;
  width: 0.8vw;
  height: 0.8vw;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.526);
  cursor: pointer;
  margin: auto 2px auto 2px;
}
.activeBtn {
  background-color: black !important;
}
.arrowbtn > button {
  /* width: 50px; */
  /* height: 50px; */
  font-size: 3vw;
  border: none;
  background-color: transparent;
  /* position: absolute; */
  /* top: 65%; */
  cursor: pointer;
}
.first_arrow > button {
  position: absolute;
  margin-top: -12%;
}
.arrowbtn > button:hover {
  color: grey;
}
.first_arrow > button:nth-child(1) {
  left: 0vw;
  /* position: absolute; */
}
.first_arrow > button:nth-child(2) {
  right: 0vw;
  /* position: absolute; */
}
/* Style for product heading Sections */
.product-sec {
  margin: 25px auto;
  padding: 0px 20px;
}
.product-sec > span:nth-child(1)::after {
  content: "";
  border: 1px solid black;
  margin: 0 5px;
}
.product-sec > span:nth-child(1) {
  font-size: 24px;
}
.product-sec > span:nth-child(2) {
  text-transform: uppercase;
  font-weight: bold;
}
.product-sec > span:nth-child(2) > a {
  text-decoration: none;
  color: #003380;
}
/* Style for product box */
.product-box {
  /* height: 300px; */
  height: auto;
  width: 90%;
  border: 1px solid black;
  overflow: hidden;
  margin: auto;
}
.slide-product {
  height: 100%;
  width: auto;
  border: 1px solid red;
  display: inline-flex;
}
.slide-product > div {
  border: 1px solid blue;
  height: 100%;
  width: calc(90vw / 5);
  padding: 10px;
}
.slide-product > div > img {
  width: 100%;
  border: 1px solid red;
}
.slide-product > div > p:nth-last-child(1) {
  box-sizing: border-box;
  height: fit-content;
  width: fit-content;
  border: 1px solid green;
  padding: 1px 4px;
  background-color: rgba(0, 128, 0, 0.169);
  border-radius: 20px;
  color: green;
  text-transform: uppercase;
  font-size: 10px;
}
.slide-product > div > p {
  color: grey;
  font-size: 13px;
  margin: 5px 0;
}
.slide-product > div > p.name_product {
  color: #003380;
  margin: 0 auto 15px auto;
  font-size: 15px;
  /* for text */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /*number of lines to show*/
  -webkit-box-orient: vertical;
}
span.price_tag {
  font-size: 22px;
  color: black;
}
span.price_tag::before {
  content: "₹";
}
.second_arrow > button {
  position: absolute;
  margin-top: -31vh;
  height: 4.5vw;
  width: 2.5vw;
  box-shadow: 0px 0px 10px -4px grey;
  /* border: 1px solid black; */
}
.second_arrow > button:nth-child(1) {
  left: 2%;
}
.second_arrow > button:nth-child(2) {
  right: 2%;
}
